<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: head(~{::title})">
    <title>Главная</title>
</head>
<body>

<header th:fragment="header">
    <nav>
        <a href="/">Главная</a>
        <a href="/university/add">Добавить университет</a>
    </nav>
</header>





<!--подключение изображений из папки static-->
<!--<img th:src="@{/img/spring.jpg}">-->

<!--подключение js файлов из папки static-->
<!--<script  th:src="@{/js/index.js}"></script>-->
</body>
</html>